<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

<link rel="stylesheet" href="http://openlayers.org/en/v3.5.0/css/ol.css" type="text/css">

{% load static %}

<link rel="stylesheet" href="{% static 'frontpage/css/ol3-layerswitcher.css' %}">
<link rel="stylesheet" href="{% static 'frontpage/css/search.css' %}">
<link rel="stylesheet" href="{% static 'frontpage/css/layout.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- for popup menu -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>
      .map:-moz-full-screen {
        height: 100%;
      }
      .map:-webkit-full-screen {
        height: 100%;
      }
      .map:-ms-fullscreen {
        height: 100%;
      }
      .map:full-screen {
        height: 100%;
      }
      .ol-rotate {
        top: 3em;
      }
    </style>
    <title>freestreetmap.org - earth map</title>

</head>

<body onunload="setCookie();" onresize="setDisplay();">
  <div id="header">
      <img id="logo-image" src="{% static 'frontpage/images/fosm.png' %}">
  </div>


	{% include "frontpage/menu.html" %}



  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div id="map" class="map"></div>

        <div id="popup" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
          <div id="popup-content"></div>
        </div>
      </div>
    </div>

	<div id="fosm">
		<p class="heading">Fosm</p>
		<p class="about_text">fosm is a free map of the planet which anyone can use and contribute to. It is a fork of OpenStreetMap licensed under the Creative Commons attribution and share-alike license CC-BY-SA.</p>

		<p class="heading">Geodata</p>

		<p class="about_text">Our geodata is stored in standard OpenStreetMap format as a set of points, 
		lines and areas making it usable for many purposes.</p>
		<p class="about_text"> It can be used to make custom designed maps, to create routing applications
		or to produce interesting data analyses. Most tools that work with OSM data will 
		also work with fosm.</p>

		<p class="about_text">A full copy of our planet earth database is available <a href="/planet/">here</a> and   
		minutely replication files are available <a href="{% url 'replication:replicate' %}">here</a>.</p>

		<p class="heading">Contributors</p>

		<p class="about_text">New contributors are very welcome.</p>
		<p class="about_text">If you would like to try it out just <a href="{% url 'register:index' %}" target="_new">create an
		account</a> and configure your favorite editor. We currently support JOSM and Merkaartor.
		Please see our <a href="/getting_started/">getting started</a> page for more information.</p>
		<p class="about_text">Please check our <a href="http://fosm.wikia.com" target="_new">wiki</a> for further help and please also 
		join our <a href="http://groups.google.com/group/osm-fork" target="_new">mailing list</a> to keep up-to-date 
		with current developments.</p>


		<p class="heading">Copyright</p>

		<p class="about_text">All geospatial content published on this site is the copyright 
		of fosm contributors and OpenStreetMap contributors. It is licensed under 
		<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC&nbsp;BY-SA 2.0</a>. 
<!--		Please refer to our <a href="copyright.html">copyright and license</a> page for details.  -->
		</p>


	</div>

    <div id="about">
     <p class="heading">About the servers</p>
	<p class="heading">Map server</p>
     <p class="about_text">This is a Mapnik, postgresql server of the data available from <a class="about_text" href="http://fosm.org/" target="_blank">fosm.org</a></p>
     <p class="about_text">The server has AMD 8150 Bulldozer eight core (3.6Ghz), 32 GB ram, 6Tb hdd.</p>
     <p class="about_text">The server is provided by me, if you want more info contact me at info at 4x4falcon dot com</p>
     <p class="about_text">It is currently (1 May 2015) running Ubuntu 12.04.5 server, postgresql 9.1, Mapnik 2.2, apache 2.2 with mod_tile, plus numerous other tools to render maps.
     </p><p></p>
	<p class="heading">api server</p>
	<p class="about_text">The server has AMD 8150 Bulldozer eight core (3.6Ghz), 32 GB ram, 6Tb hdd.</p>
	<p class="about_text">The server is provided by me, if you want more info contact me at info at 4x4falcon dot com</p>
	<p class="about_text">It is currently (1 Feb 2017) running Ubuntu 16.04.5 server, postgresql 9.5, postgis 2.2, nginx 1.10.3, pycrocosm.</p>
	<p class="about_text">pycrocosm is available here: <a href="https://github.com/TimSC/pycrocosm" target="_blank">Github</a></p>
	<p class="about_text">pycrocosm is writen by Tim Sheerman-Chase (TimSC).</p>
    </div>

    <div id="help">
     <p class="heading">Help</p>
     <p class="about_text">Additional map functions can be accessed by left clicking on the map.</p>
<!--     <p class="about_text">What's Here - shows items at the mouse click location.</p>  -->
    </div>

    <div id="whats_here">
     <p class="heading">What's Here</p>
     <div id="whats_here-content">
     </div>
     <div id="whats_here-loader">
     </div>
    </div>

    <div id="jump_to">
     <p class="heading">
     Jump to latitude/longitude
     </p>
     <p class="about_text">Enter latitude and longitude below in decimal degrees (eg, -21.000,145.000)</p>
     <p class="about_text">Negative for south latitude and west longitude</p>

     <form class="about_text" name="jumpto" onsubmit="return jump_2();" method="GET" action="jsf/map.fosm.org - earth map - Full Screen.html">
     <p>
     Latitude: <input type="text" name="lat"><br>
     </p>
     <p>
     Longitude: <input type="text" name="lon"><br>
     </p>
<!--
     <input type="hidden" name="zoom" id="form_zoom" value="1" />
-->
     <p>
     <input type="submit" value="Jump To">
     </p>
     </form>
    </div>

    <div id="search">
     <div id="searchcontrol">
      <form id="searchform" onSubmit="doSearch();return false;">
      <input type="text" id="searchbox" value="Search">
      <input type="submit" id="searchbutton" value="Search">
      </form>
      <div id="search_loader">
      </div>
      <div id="search_message">
      </div>
     </div>
     <div id="search_results">
     </div>
    </div>

	<div id="login">
		<p class="heading">Login</p>
		<div id="login-content">
		</div>
	</div>

	<div id="register">
		<p class="heading">Register</p>
		<div id="register-content">
		</div>
	</div>

  </div>

<!--  <script src="http://openlayers.org/en/v3.5.0/build/ol.js" type="text/javascript"></script> -->

  <script src="{% static 'frontpage/jsf/ol.js' %}"></script>

  <script src="{% static 'frontpage/jsf/ol3-layerswitcher.js' %}"></script>

  <script src="{% static 'frontpage/jsf/unverse10.02.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontpage/jsf/menu.js' %}" type="text/javascript"></script>

  <script src="{% static 'frontpage/jsf/display_functions.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontpage/jsf/cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontpage/jsf/main.js' %}" type="text/javascript"></script>

  <script src="{% static 'frontpage/jsf/jump_to.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontpage/jsf/search.js' %}" type="text/javascript"></script>


  <div id="linkloader" name="linkloader"></div>

</body>
</html>
