<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

<link rel="stylesheet" href="http://openlayers.org/en/v3.5.0/css/ol.css" type="text/css">

{% load static %}

<!-- <link rel="stylesheet" href="{% static 'frontpage/css/ol3-layerswitcher.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'frontpage/css/search.css' %}"> -->
<link rel="stylesheet" href="{% static 'frontpage/css/layout.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- for popup menu -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>
      .map:-moz-full-screen {
        height: 100%;
      }
      .map:-webkit-full-screen {
        height: 100%;
      }
      .map:-ms-fullscreen {
        height: 100%;
      }
      .map:full-screen {
        height: 100%;
      }
      .ol-rotate {
        top: 3em;
      }
    </style>
    <title>freestreetmap.org - getting started</title>

</head>

<body>
  <div id="header">
      <img id="logo-image" src="{% static 'frontpage/images/fosm.png' %}">
  </div>


	{% include "frontpage/menu.html" %}



  <div class="container-fluid">
	<div id="getting_started">
		<p class="heading-black">What's Different</p>

			<p>
				If you are familiar with OpenStreetMap you may want to know what&apos;s different about fosm
				and learn why you should contribute to fosm rather than OpenStreetMap.  This page summarises
				the main differences.
			</p>

		<p class="heading-black">Differences</p>

			<ul>
				<li>
				The main difference is, of course, the license.  Fosm content is licensed under the Creative Commons
				CC&nbsp;BY-SA license rather than OpenStreetMap&apos;s combination of Contributor Terms (CTs), Open Database 
				License (ODbL), and Database Content License (DbCL).  We think our license is much simpler and easier to
				understand.  It relies on copyright which is the traditional mechanism for protecting maps and follows
				well known and understood legal principles.
				</li>
<!--
			<li>
				The fosm server platform is different and more technically advanced than OpenStreetMap.  Rather than
				using a vast array of services spread across multiple servers, fosm runs on a single much smaller server.
				This is possible because we use a more sophisticated database and a very thin application layer.
			</li>
			<li>
				Way splits and merges are recorded more carefully in fosm than in OpenStreetMap.  A special tag 
				meta:predecessors is used to indicate if a version of a way has been derived from one or more other
				ways.  This tag is generated automatically by fosm after any editing session.
			</li>
-->
			</ul>


	</div>
  </div>

  <script src="{% static 'frontpage/jsf/menu.js' %}" type="text/javascript"></script>

</body>
</html>
